---
import { AgentChangeSection } from '../components/agent-change-section'
import { AwardsInstagramSection } from '../components/awards-instagram-section'
import { DidYouKnowSection } from '../components/did-you-know-section'
import { FeaturedBySection } from '../components/featured-by-section'
import { HeroSection } from '../components/hero-section'
import { ImpactSection } from '../components/impact-section'
import { SupportersCollaboratorsSection } from '../components/supporters-collaborators-section'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout canonicalPath="/">
  <main class="garda-main">
    <HeroSection />
    <DidYouKnowSection client:load />
    <ImpactSection />
    <FeaturedBySection />
    <AgentChangeSection />
    <SupportersCollaboratorsSection />
    <AwardsInstagramSection />
  </main>
</BaseLayout>
